@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "All Products";
    int currRow = 0;
}

<table class="table table-hover">
    <thead class="bg-dark">
        <tr>
            <th scope="col" class="text-white">№</th>
            <th scope="col" class="text-white">First</th>
            <th scope="col" class="text-white">Last</th>
            <th scope="col" class="text-white">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            currRow += 1;
            <tr>
                <th scope="row">@currRow</th>
                <td><a asp-controller="Products" asp-action="ById" asp-route-id="@item.Id">@item.Id</a></td>
                <td>@item.Name</td>
                <td>@item.Price$</td>
            </tr>
        }        
    </tbody>
</table>
